@tailwind base;
@tailwind components;
@tailwind utilities;

/* *, :root {
  background-color: #f9fafb;
} */

body {
  width: 100%;
  padding: 0;
  min-height: 100vh;
  margin: auto;
  box-sizing: border-box;
  max-width: 1800px;
}

/* For browsers that support clamp  */
@supports (font-size: clamp(1rem, 1vi, 1rem)) {
  :root {
		--fs-xs: clamp(0.64rem, 0.16vi + 0.61rem, 0.84rem);
		--fs-sm: clamp(0.8rem, 0.25vi + 0.74rem, 1.13rem);
		--fs-base: clamp(1rem, 0.39vi + 0.91rem, 1.5rem);
		--fs-md: clamp(1.25rem, 0.58vi + 1.12rem, 2rem);
		--fs-lg: clamp(1.56rem, 0.86vi + 1.37rem, 2.67rem);
		--fs-xl: clamp(1.95rem, 1.25vi + 1.68rem, 3.55rem);
		--fs-2xl: clamp(2.44rem, 1.79vi + 2.05rem, 4.74rem);
		--fs-3xl: clamp(3.05rem, 2.55vi + 2.49rem, 6.31rem);
  }
}
/* For browsers that don't support clamp */
@supports not (font-size: clamp(1rem, 1vi, 1rem)) {
  :root {
		--fs-xs: 0.64rem;
		--fs-sm: 0.8rem;
		--fs-base: 1rem;
		--fs-md: 1.25rem;
		--fs-lg: 1.56rem;
		--fs-xl: 1.95rem;
		--fs-2xl: 2.44rem;
		--fs-3xl: 3.05rem;
  }
  @media screen and (min-width: 2400px) {
    :root {
			--fs-xs: 0.84rem;
			--fs-sm: 1.13rem;
			--fs-base: 1.5rem;
			--fs-md: 2rem;
			--fs-lg: 2.67rem;
			--fs-xl: 3.55rem;
			--fs-2xl: 4.74rem;
			--fs-3xl: 6.31rem;
    }
  }
}

 h1,  h2,  h3,  h4,  h5,  h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  line-height: 1.2em;
}

h1, .h1 {
  font-size: var(--fs-3xl);
}

h2, .h2 {
  font-size: var(--fs-2xl, 33px);
}

h3, .h3 {
  font-size: var(--fs-xl, 28px);
}

h4, .h4 {
  font-size: var(--fs-lg, 24px);
}

h5, .h5 {
  font-size: var(--fs-md, 21px);
}

p, .p {
  font-size: var(--fs-base, 16px);
}

.md {
  font-size: var(--fs-md);
}

.sm {
  font-size: var(--fs-sm);
}

.xs {
  font-size: var(--fs-xs);
}

/* BEGIN SIDEBAR NAV */

.sidenav__links {
  width: fit-content;
  max-width: 16rem;
  position: fixed;
  z-index: 1;
  top: 0px;
  left: 0px;
  overflow-x: hidden;
  padding: 8px 0;
  background-color: #252525;
  height: 100vh;
}

.mobile-nav {
  display: none;
}

@media (width <= 680px) {
  .sidenav__links {
    display: none;
  }

  .sidenav__button {
    display: block;
    color: #ECD592;
    position: fixed;
    z-index: 1;
    top: 20px;
    left: 10px;
    padding: 2px 4px;
    border: 1px solid #ECD592;
  }
}

.sidenav__links a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  color: #ECD592;
  display: block;
}

.sidenav__links a:hover {
  color: #0094FF;
}

/* END SIDEBAR NAV */

/* BEGIN TOGGLE SWITCH */

.theme-checkbox {
  --toggle-size: 12px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 6.25em;
  height: 3.125em;
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #E5AF44), color-stop(50%, #252525)) no-repeat;
  background: -o-linear-gradient(left, #E5AF44 50%, #252525 50%) no-repeat;
  background: linear-gradient(to right, #E5AF44 50%, #252525 50%) no-repeat;
  background-size: 205%;
  background-position: 0;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  border-radius: 99em;
  position: relative;
  cursor: pointer;
  font-size: var(--toggle-size);
}

.theme-checkbox::before {
  content: "";
  width: 2.25em;
  height: 2.25em;
  position: absolute;
  top: 0.438em;
  left: 0.438em;
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #E5AF44), color-stop(50%, #252525)) no-repeat;
  background: -o-linear-gradient(left, #E5AF44 50%, #252525 50%) no-repeat;
  background: linear-gradient(to right, #E5AF44 50%, #252525 50%) no-repeat;
  background-size: 205%;
  background-position: 100%;
  border-radius: 50%;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.theme-checkbox:checked::before {
  left: calc(100% - 2.25em - 0.438em);
  background-position: 0;
}

.theme-checkbox:checked {
  background-position: 100%;
}

/* END TOGGLE SWITCH */

/* PLAID FORM TRANSITION */

#plaid-input:checked ~ #plaid-form-wrapper {
  grid-template-rows: 1fr;
}

#plaid-form-arrow {
  transition: transform 0.5s ease-in-out;
}

#plaid-input:checked ~ label > #plaid-form-arrow {
  transform: rotate(-90deg);
}

#plaid-form {
  overflow: hidden;
}

/* END PLAID FORM TRANSITION */

/* PERSONAL FORM TRANSITION */

#personal-input:checked ~ #personal-form-wrapper {
  grid-template-rows: 1fr;
}

#personal-form-arrow {
  transition: transform 0.5s ease-in-out;
}

#personal-input:checked ~ label > #personal-form-arrow {
  transform: rotate(-90deg);
}

#personal-form {
  overflow: hidden;
}

/* END PERSONAL FORM TRANSITION */

/* BUSINESS FORM TRANSITION */

#business-input:checked ~ #business-form-wrapper {
  grid-template-rows: 1fr;
}

#business-form-arrow {
  transition: transform 0.5s ease-in-out;
}

#business-input:checked ~ label > #business-form-arrow {
  transform: rotate(-90deg);
}

#business-form {
  overflow: hidden;
}

/* END BUSINESS FORM TRANSITION */

/* SMALL TOGGLE */

/* From Uiverse.io by AbanoubMagdy1 */
.switch {
  --circle-dim: 1.4em;
  font-size: 12px;
  position: relative;
  display: inline-block;
  width: 3.5em;
  height: 2em;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #B5B7B9;
  transition: .4s;
  border-radius: 30px;
}

.slider-card {
  position: absolute;
  content: "";
  height: var(--circle-dim);
  width: var(--circle-dim);
  border-radius: 20px;
  left: 0.3em;
  bottom: 0.3em;
  transition: .4s;
  pointer-events: none;
}

.slider-card-face {
  position: absolute;
  inset: 0;
  backface-visibility: hidden;
  perspective: 1000px;
  border-radius: 50%;
  transition: .4s transform;
}

.slider-card-front {
  background-color: #494949;
}

.slider-card-back {
  background-color: #7D5123;
  transform: rotateY(180deg);
}

input:checked ~ .slider-card .slider-card-back {
  transform: rotateY(0);
}

input:checked ~ .slider-card .slider-card-front {
  transform: rotateY(-180deg);
}

input:checked ~ .slider-card {
  transform: translateX(1.5em);
}

input:checked ~ .slider {
  background-color: #ECD592;
}

/* END SMALL TOGGLE */

/* BEGIN DETAILS */

.product-details .product-details-inner {
  opacity: 0;
}

.product-details[open] .product-details-inner {
  animation: fadeIn .75s linear forwards;
}

.product-details[open] > summary::after {
  transform: rotate(180deg);
}

summary {
  /* list-style: none; */
  display: flex;
  /* background: url('../../public/chevron_down.svg') no-repeat 14px 50%; */
  /* padding: 10px 10px 10px 40px; */
  /* background-size: 18px; */
  /* font-weight: bold; */
  /* transition: 0.2s; */
}

summary::after {
  content: '';
  width: 18px;
  height: 18px;
  background: url('../../public/chevron_down.svg');
  background-size: cover;
  margin-left: .75em;
  transition: 0.2s;
}

@keyframes fadeIn {
 0% {
   opacity: 0;
 }
 100% {
   opacity: 1;
 }
}

/* END DETAILS */
